@using System.Collections
@model Orders

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create new order</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        @* Used html helper methods because JQuery validation works fine. *@
        @using (Html.BeginForm("Create", "Order", "post"))
        {

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.CustomerId, "Customer", new {@class = "control-label"})
                @Html.DropDownListFor(m => m.CustomerId, ViewData["Customers"] as IEnumerable<SelectListItem>, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.CustomerId, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, "Description", new {@class = "control-label"})
                @Html.TextAreaFor(m => m.Description, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Description, "", new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.ActionLink("Cancel", "Index", "Home", null, new {@class = "btn btn-secondary" })
                <input type="submit" value="Create" class="btn btn-success"/>
            </div>

        }
    </div>
</div>
