@model IEnumerable<OrderGoods>

@{
    ViewData["Title"] = "Orders";
}

<div class="controls">

</div>
<div class="customer">
    @foreach (var item in Model)
    {
        <td>Имя: </td><td>@item.Orders.Customers.FirstName</td><br/>
        <td>Фамилия: </td><td>@item.Orders.Customers.LastName</td><br />
        <td>Адрес: </td><td>@item.Orders.Customers.Address</td><br />
        <td>Номер телефона: </td><td>@item.Orders.Customers.PhoneNumber</td>


        break;
    }
    
</div>
<div>
    @{var format = 0;
        float? rez = .0f;
        Model.GetEnumerator().Reset();
    }
    <table class="table table-striped">
        <thead class="thead bg-light">
        <th scope="col">№</th>
        <th scope="col">Код</th>
        <th scope="col">Повна назва товару</th>
        <th scope="col">Опис</th>
        <th scope="col">К-ть</th>
        <th scope="col">Ціна</th>
        <th scope="col">Сума</th>
        <tbody>
            @foreach (var item in Model)
            {
                rez = item.Count * item.Formats.Price;


                if (item.FormatId != format)
                {
                    format = item.FormatId;
                    <th scope="col">@item.Formats.Format</th>
                    
}
                    <tr >
                        <th scope="row">#</th>
                        <td><dt>@item.Goods.ProductCode</dt></td>
                        <td>@item.Formats.Type (@item.Goods.Category)</td>
                        <td>Размер @item.Formats.Format</td>
                        <td><dt>@item.Count</dt></td>
                        <td>@item.Formats.Price</td>
                        <td>@rez</td>
                    </tr>
            }
            </tbody>
        </table>
    </div>

