@model IQueryable<OrderGoods>

@{
    ViewData["Title"] = "Orders";
}

<div class="controls">

</div>
<div>
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">№</th>
            <th scope="col">Код</th>
            <th scope="col">Повна назва товару</th>
            <th scope="col">Опис</th>
            <th scope="col">К-ть</th>
            <th scope="col">Ціна</th>
            <th scope="col">Сума</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var rez = item.Count * item.Goods.Price;
                <tr>
                    <th scope="row">#</th>
                    <td>@item.Goods.ProductCode</td>
                    <td>@item.Goods.FullName</td>
                    <td>@item.Orders.Description</td>
                    <td>@item.Count</td>
                    <td>@item.Goods.Price</td>
                    <td>@rez</td>
                </tr> 
            }
        </tbody>
    </table>
</div>
