@model IEnumerable<Assistant.Models.Goods>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>
<nav aria-label="Goods">
    @await Component.InvokeAsync("Pager", new { pagingList = Model })
</nav>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImgSrc)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgSrc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductCode">Edit</a> |
                
                <a asp-action="Delete" asp-route-id="@item.ProductCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
